/.settings/
/.logs/
/target/
/.classpath
/.project
/.idea/
*.iml
*.log
*.gz
*.log*

### Eclipse ###
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea

### Maven ###
target/
.mvn

### Gradle ###
.gradle
/logs/
